 #nav{
	float:left;
	width:100%;
	list-style:none;
	font-weight:bold;
	margin:0px;
	padding:0;
}
#nav ul {
margin:0;
padding:0;
}
#nav li{
	float:left;
	position:relative;
	display:block;
}
#nav li a{
	display:block;
	padding: 5px;
	padding-left:10px;
	padding-right:10px;
	border-right: 1px solid #80addb;
	text-decoration:none;
	color:#EEE;
	text-shadow:1px 1px 1px rgba(0,0,0,0.75); /* Text shadow to lift it a little */
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}
#nav li a:hover{
	color:#fff;
	background:#354269; /* Solid colour fall-back */
	background:rgba(53,66,105,0.75); /* It'll look nice semi-transparent */

	text-decoration:underline;
}

/*--- DROPDOWN ---*/
#nav ul{
	list-style:none;
	position:absolute;
	z-index:600;
	left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
	opacity:0; /* Set initial state to transparent */
	-webkit-transition:0.25s linear opacity; /* Make the dropdown fade-in in Webkit */
}
#nav ul li{
	padding-top:1px; /* Introducing a padding between the li and the a give the illusion spaced items */
	z-index:600;
	float:none;
}
#nav ul a{
	white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
	display:block;
	border:0;
}
#nav li:hover ul{ /* Display the dropdown on hover */
	left:0; /* Bring back on-screen when needed */
	opacity:1; /* Fade to opaque */
}
#nav li:hover a{ /* Set styles for top level when dropdown is hovered */

	background:#354269; /* Solid colour fall-back */
	background:rgba(53,66,105,0.90); /* It'll look nice semi-transparent */
	text-decoration:underline;
}
#nav li:hover ul a{ /* Override some top level styles when dropdown is hovered */
	text-decoration:none;
	-webkit-transition:-webkit-transform 0.075s linear;
}
#nav li:hover ul li a:hover{ /* Set styles for dropdown when items are hovered */
	background:#333; /* Solid colour fall-back */

	background:rgba(51,51,51,0.90); /* It'll look nice semi-transparent */
	text-decoration:underline;
	-moz-transform:scale(1.05);
	-webkit-transform:scale(1.05);
}